@page
@model WellnessAppFrontEnd.Pages.FitnessBio.FitnessBioModel
@{
    ViewData["Title"] = "FitnessBio";
}

<h2>FitnessBio</h2>

<table id="table" border="1">
    <tr>
        <th>Id</th>
        <th>Reasons</th>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
        <th>BloodPressure</th>
        <th>Actions</th>
    </tr>
</table>

<br>

Click <a asp-page="/FitnessBio/AddFitnessBio">here</a> to add a new fitnessbio.

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            debugger;

            var uName = "user";
            var passwrd = "password";

            table = document.getElementById("table");
            var row = document.createElement("tr");

            $.ajax({
                type: 'GET',
                url: 'http://localhost:3308/fitnessBios/fitnessBio/AllFitnessBio',
                //username: uName,
                //password: passwrd,
                headers: {
                    'Content-Type': 'application/json; charset=utf-8',
                    'Accept': 'application/json',
                    'Access-Control-Allow-Methods': 'PUT, POST, GET, OPTIONS, DELETE'
                },
                ContentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    for (var r = 0; r < data.length; r++) {
                        row = document.createElement("tr");

                        var x = data[r].id;
                        addRow(x)

                        x = data[r].reasons;
                        addRow(x)

                        x = data[r].weight;
                        addRow(x)

                        x = data[r].height;
                        addRow(x)

                        x = data[r].BMI;
                        addRow(x)

                        x = data[r].bloodPressure;
                        addRow(x)

                        var t = '<a onclick="deleteFitnessBio(' + data[r].id +')">Delete</a>';
                        var cell = document.createElement("td");
                        cell.innerHTML = t;
                        row.appendChild(cell);

                        t = '<a onclick="editFitnessBio(' + data[r].id + ')">Edit</a>';
                        var cell = document.createElement("td");
                        cell.innerHTML = t;
                        row.appendChild(cell);

                        table.appendChild(row);
                    }
                },
                error: function (xhr, ajaxOptions, throwError) {
                    //Error block
                },
            });

            function addRow(x) {
                var cell1 = document.createElement("td");
                var textnode1 = document.createTextNode(x);
                cell1.appendChild(textnode1);
                row.appendChild(cell1);
            }

        });


        function deleteFitnessBio(deleteRecord) {
            debugger;

            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:3308/fitnessBios/fitnessBio/' + deleteRecord,
                //username: uName,
                //password: passwrd,
                success: function (data) {
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, throwError) {
                    //Error block
                },
            });
        }

        function editFitnessBio(id) {
            debugger;

            //var value1 = "value1";
            //var value2 = "value2";
            var queryString = "?" + id;
            window.location.href = "EditFitnessBio" + queryString;

            //document.getElementById('hiddenID').value = id;
            //window.location.href = "/FitnessBio/EditFitnessBio";
        }
    </script>
}
